@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    scroll-behavior: smooth;
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
}

body {
    background-color: white;
    line-height: 1.5px;
   background: rgb(255,95,201);
background: radial-gradient(circle, rgba(255,95,201,1) 0%, rgba(255,0,0,0) 77%);
}

/*Animations*/
.fade-in{
opacity: 0;
transition: opacity 500ms ease-in;
}
.fade-in.appear{
    opacity: 1;
    
}

.letter-spacing-one{
    letter-spacing: 5px;
}
.letter-spacing-two{
    letter-spacing: 3px;
}

.letter-spacing-three{
    letter-spacing: 1;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#instagram{
    opacity: 1;
    transform: scale(1);
    transition: all ease-in-out 300ms;
}
#instagram:hover{
    opacity: .8;
    transform: scale(.8);
}
#twitter{
    opacity: 1;
    transform: scale(1);
    transition: all ease-in-out 300ms;
}
#twitter:hover{
    opacity: .8;
    transform: scale(.8);
}
#btnAbout{
    opacity: 1;
    transform: scale(1);
    transition: all ease-in-out 300ms;
}
#btnAbout:hover{
    opacity: .8;
    transform: scale(.8);
}
#btnContact{
    opacity: 1;
    transform: scale(1);
    transition: all ease-in-out 300ms;
}
#btnContact:hover{
    opacity: .8;
    transform: scale(.8);
}